
  <% include navbar %>

<div class="hero">
    <div class="hero-body">
        <strong>What is the best way to move around city?</strong>
        <p>Tbilisi offers municipality busess, underground metro, mini buses and taxis. 
            You can easly get from A to B using municipality transports in the central locations of the city. However,
        locals' favourite transport still remains taxi. It is cheap, reliable and comfortable to move around with taxi especeally for distances over 4 kms</p>
        <br>
        <strong>How much will it cost to eat outside?</strong>
        <p>
            Average price of a Georgian diner at an average restaurant would be 20 Laris per person. If you want to push your limits price can go up to 50 Laris.
        </p>
        <br>
        <strong>How much does public transport cost?</strong>
        <p>
            If you buy one time ticket it works in Metros and Busses and price is 90 tetri - roughly 30 cents. 
            Price of a taxi ride depends on distance and the car you are ordering.
            On average one ride within the city will cost you aroung 5 Laris (roughly 1.5 euros).
        </p>

    </div>
</div>
  
    <% include footer %>