
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
/*@import "../../node_modules/bulma/css/bulma.css";*/

body {
  padding: 10px;
  background: rgb(226, 238, 238);
}

.navbar {
  background-color: transparent;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}

@media screen and (max-width: 1024px) {
  .navbar-dropdown .is-active {
    display: block;
  }
  .navbar-dropdown:not(.is-active) {
    display: none;
  }
}


